/* universal for main page selects all items / box model */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets body stlye / background color */
body {
    background-color: #d9dcd6;
}

/* sets anchor style for all anchors on page / text color and removes decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets paragraph style on page / font size */
p {
    font-size: 16px;
}

/* sets stlye for header / box, font, background color, and text elements */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets header heading 1 stlye / display type and font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* set span value in header h1 / color change in text */
.header h1 .seo {
    color: #d9dcd6;
}

/* sets header div style / box model and position, font type and size */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* sets header div unordered list style / removes markers */
.header div ul {
    list-style-type: none;
}

/* sets header listed item stlye / display type and positioning */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* largest element on page main image / sets image, size, box model, position */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* sets position of article elements */
.float-left {
    float: left;
    margin-right: 25px;
}

/* sets position of article elements */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets div content wrapped around articles / sets width, display type, and box model */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets image size for articles */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* sets article box model and font size */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets article test elements / box model, size, font, background color, text color */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets div benefit style / box model and color */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets benefit section style / box model, and text position */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets benefit section image style / display type, box model, and size */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets div benefits style / box model, position, size, font, background color, position to float */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets footer style / box model, position, text position, and font */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets foot heading 3 style / font size */ 
.footer h3 {
    font-size: 20px;
}
